{% extends "template.twig" %}

{% block content %}
    <div class="container mt-5">
        <h2>Login</h2>
        <form method="post" action="">
            <label>
                <input type="text" name="email" placeholder="email" required>
            </label><br>
            <label>
                <input type="password" name="password" placeholder="password" required>
            </label><br>
            <button type="submit" href="/">Login</button>
        </form>
    </div>
{% endblock %}
