<header id="header" class="header-effect-shrink"
        data-plugin-options="{'stickyEnabled': true, 'stickyEffect': 'shrink', 'stickyEnableOnBoxed': true, 'stickyEnableOnMobile': false, 'stickyChangeLogo': true, 'stickyStartAt': 30, 'stickyHeaderContainerHeight': 70}"
        style="height: 80px;">
    <div class="header-body border-top-0" style="">
        <div class="header-container container container-xl-custom" style="height: 100px;">
            <div class="header-row">
                <div class="header-column">
                    <div class="header-row">
                        <div class="header-logo" style="width: 82px; height: 40px;">
                            <a href="/">
                                <img src="/storage/img/developpement-web.png" href="/" alt="icon" title="Home">
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>
{# TODO {{ customFunction('Hello', 'World') }} #}
